@model Friendface.Core.Friendface

@{
    Layout = "_Layout";
}

<div class="container">
    @using (Html.BeginForm("Create", "Friendface", FormMethod.Post))
    {

        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Name)</dt>
            <dd>@Html.TextBoxFor(m => m.Name) @Html.ValidationMessageFor(model => model.Name)</dd>

            <dt>@Html.DisplayNameFor(model => model.Birthday)</dt>
            <dd>@Html.TextBoxFor(m => m.Birthday) @Html.ValidationMessageFor(model => model.Birthday)</dd>

            <dt>@Html.DisplayNameFor(model => model.Description)</dt>
            <dd>@Html.TextBoxFor(m => m.Description) @Html.ValidationMessageFor(model => model.Description)</dd>
        </dl>

        <button type="submit" class="btn btn-secondary" id="submit">Create New Profile</button>
    }
</div>
