@model Friendface.Core.Domain.User

@{
    Layout = "_Layout";
}

<div class="container">
    @using (Html.BeginForm("RegisterUser", "Friendface", FormMethod.Post))
    {

        <dl class="dl-horizontal">
            <dt>@Html.DisplayNameFor(model => model.Username)</dt>
            <dd>@Html.TextBoxFor(m => m.Username) @Html.ValidationMessageFor(model => model.Username, null, new { @class = "text-danger" })</dd>

            <dt>@Html.DisplayNameFor(model => model.Birthday)</dt>
            <dd>@Html.TextBoxFor(m => m.Birthday, "{0:dd/MM/yyyy}") @Html.ValidationMessageFor(model => model.Birthday, null, new { @class = "text-danger" })</dd>

            <dt>@Html.DisplayNameFor(model => model.Description)</dt>
            <dd>@Html.TextAreaFor(m => m.Description) @Html.ValidationMessageFor(model => model.Description)</dd>
        </dl>

        <button type="submit" class="btn btn-secondary" id="submit">Create</button>
    }
</div>
