@model Friendface.Web.Models.DetailModel

@{
    Layout = "_Layout";
}

<div class="container">
    <h3>@Model.User.Username</h3>
    <hr />

    <div class="row">
        <div class="col-md-6">
            <dl class="dl-horizontal">

                <dt>Birthday</dt>
                <dd>@Model.User.Birthday.ToString("dd-MM-yyyy")</dd>

                <dt>Email</dt>
                <dd>@Model.User.Email</dd>

                <dt>Address</dt>
                <dd>@Model.User.Address</dd>

                <dt>Gender</dt>
                <dd>@Model.User.Gender</dd>

                <dt>Description</dt>
                <dd>@Model.User.Description</dd>
            </dl>


            @if (Model.IsFriend)
            {
                <p>Friends</p>
                @using (Html.BeginForm("DeleteFriendship", "Friendface", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.User.Id)
                    <button type="submit" class="btn btn-secondary">Unfriend</button>
                }
            }
            else if (Model.IsMe)
            {
                <p></p>
            }
            else
            {
                @using (Html.BeginForm("CreateFriendship", "Friendface", FormMethod.Post))
                {
                    @Html.HiddenFor(x => x.User.Id)
                    <button type="submit" class="btn btn-secondary">Add friend</button>
                }
            }
        </div>
        <div class="col-md-6">
            <h4>Posts</h4>
            @foreach (var post in Model.User.Posts)
            {
            <div class="border post-box">
                <nav class="orange">
                    <div class="post-text text-uppercase post-title">
                        <h5><strong>@post.Title</strong></h5>
                    </div>
                </nav>
                <div class="post-text">
                    <p class="small-text">@post.ReleaseDate</p>
                    <p>@post.Content</p>

                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Comments
                        </button>
                        @using (Html.BeginForm("CreateComment", "Friendface", new { postId = post.Id }, FormMethod.Post))
                        {
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <ul>
                                    @foreach (var comment in post.Comments)
                                    {
                                        <li>@comment.Content</li>
                                    }
                                </ul>

                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.CommentContent))
                                    <div class="input-group-append">
                                        <button type="submit" class="btn btn-secondary btn-sm">Comment</button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

            </div>
        </div>
        }
    </div>
</div>
</div>
