@model Friendface.Core.Domain.User

@{
    Layout = "_Layout";
}

<div class="container">
    <h4>@Model.Username</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>Birthday</dt>
        <dd>@Model.Birthday.ToString("yyyy-MM-dd")</dd>

        <dt>Email</dt>
        <dd>@Model.Email</dd>

        <dt>Address</dt>
        <dd>@Model.Address</dd>

        <dt>Gender</dt>
        <dd>@Model.Gender</dd>

        <dt>Description</dt>
        <dd>@Model.Description</dd>
    </dl>

    <button type="submit" class="btn btn-secondary">Add Friend</button>
</div>